/* html {
  font-family: 'Lato', sans-serif;
  
} */

body {
  margin: 8px 7.5vw;

  
}
/* 
h1 {
  font-size: 1.1rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h5 {
  font-size: 0.9rem;
  font-weight: lighter;
} */

a {
  text-decoration: none;
  color: inherit;
  /* font-weight: 600;
  font-size: 20px; */
}

a:hover {
  text-decoration: underline;
}


.hidden {
  display: none;
}

/* small {
  font-weight: 600;
  font-size: 20px;
} */



nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.main-nav-links {
  margin: 0 15px;
}

.nav-link {
  /* font-size: 0.85rem; */
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
}

/* .nav-logout {
  float: right;
} */

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #f6f6ef;
}

form {
  display: flex;
  flex-direction: column;
  margin: 8px 18px 0;
}

form > * {
  margin: 10px 0;
}

form label {
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block;
  width: 3.5rem;
  text-align: right;
  margin-right: 5px;
}

form input {
  font-size: 0.8rem;
  border: none;
  border-radius: 2px;
  padding: 8px;
  width: 300px;
  box-shadow: 0 0 3px 1px lightgray;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 4px 1px darkgray;
}

form > button {
  width: 4rem;
  margin: 5px 0px 15px 65px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.85rem;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

form > button:hover {
  background-color: dimgray;
}

form > hr {
  margin: 0;
  border: 0.5px solid lightgray;
}

.login-input label {
  width: 70px;
}

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#create-account-form button {
  padding: 10px;
  width: 8rem;
}




.star,
.trash-can,
.pencil {
  display: inline;
  font-size: 0.75rem;
  margin: 0 18px;
  cursor: pointer;
  font-size: 18px;
}

.fas {
  color: rgb(247, 231, 18);
}

.trash-can {
  color: rgb(133, 133, 133);
}

.trash-can:hover {
  color: rgb(201, 0, 40);
}

.star:hover {
  color: rgb(51, 51, 51);
}



.pencil:hover {
  color: darkblue;
}

.article-link > strong {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  font-weight: normal;
  margin: 18px 0;
}

.articles-list {
  margin: 20px 5px; 
}

.articles-list > li {
  color: gray;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  margin: 10px 0;
  cursor: pointer;
}

.article-link:hover {
  text-decoration: none;
}

.article-hostname:hover {
  text-decoration: underline;
}

.article-author {
  margin-top: 5px;
  margin-left: 25px;
}

.article-username {
  display: inline;
  margin-top: 5px;
  margin-left: 25px;
}

/* ol {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
} */

#favorited-articles,
#filtered-articles,
#my-articles {
  list-style: none;
  padding-left: 20px;
}

.account-forms-container {
  padding-left: 20px;
}

#create-account-form button {
  margin-bottom: 25px;
}

#user-profile {
  padding: 10px 20px 20px;
  font-size: 0.9rem;
}

#user-profile > * {
  margin: 10px 0;
}


/** responsive queries for tightening things up for mobile. */

@media screen and (max-width: 576px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 900px;
    margin: 8px auto;
  }
}
